.width {
	width: 280px;
	height: 100vh;
	position: relative;
	z-index: 99999;
}
.bgcolor {
	background-color: #57aff2;
}
.focusPage {
	color: white;
	margin-bottom: 10px;
}
.active {
	background: #ffffff !important;
	color: #57aff2 !important;
}
.focusPage:focus {
	background: #ffffff !important;
	color: #57aff2 !important;
}
.image {
	background: #57aff2;
	border: 5px solid #57aff2;
}
.hoverExitPage {
	background: #ffffff;
	color: #57aff2 !important;
	border-radius: 10px !important;
	border: none;
	transition: 0.5s;
}
.hoverExitPage:hover {
	cursor: pointer;
	background: white;
	box-shadow: 0 0 15px white;
	transform: scale(1.05);
}
.hoverExitPage:hover svg {
	color: #57aff2 !important;
}

@media screen and (max-width:500px) {
	.width{
		width:max-content;
	}
}