.footer {
	display: flex;
	padding: 10px 0;
	margin: 10px 0;
	border-radius: 2px;
}
.relative {
	position: relative;
}
.relative:hover {
	cursor: pointer;
}
.relative * {
	transition: 0.5s;
}
.hover {
	color: transparent;
	display: none;
	padding: 5px;
}
.hover div {
	display: flex;
	align-items: center;
}
.hover h2 {
	font-size: 0.9em;
	width: 50%;
	margin: 2.5px 0;
	padding: 2.5px 0;
	text-align: right;
	font-weight: bolder;
}
.hover p {
	font-size: 0.75em;
	width: 50%;
	margin: 0;
	padding: 0;
	text-align: left;
}
.relative:hover .iconGreen + .hover::after {
	content: "";
	position: absolute;
	bottom: 50%;
	right: 0%;
	transform: translateY(60%) translateX(25%) rotate(45deg);
	min-height: 15px;
	min-width: 15px;
	background-color: green;
	z-index: -1;
}
.relative:hover .iconBlue + .hover::after {
	content: "";
	position: absolute;
	bottom: 50%;
	right: 0%;
	transform: translateY(60%) translateX(25%) rotate(45deg);
	min-height: 15px;
	min-width: 15px;
	background-color: #57aff2;
	z-index: -1;
}
.relative:hover .iconRed + .hover::after {
	content: "";
	position: absolute;
	bottom: 50%;
	right: 0%;
	transform: translateY(60%) translateX(25%) rotate(45deg);
	min-height: 15px;
	min-width: 15px;
	background-color: red;
	z-index: -1;
}
.relative:hover .icongreen + .hover {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-60%) translateX(-105%);
	height: auto;
	min-width: 180px;
	background-color: green;
	border-radius: 5px;
	display: block;
	color: white;
}

.relative:hover .iconBlue + .hover {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-60%) translateX(-105%);
	height: auto;
	min-width: 180px;
	background-color: #57aff2;
	border-radius: 5px;
	display: block;
	color: white;
}
.relative:hover .iconGreen + .hover {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-60%) translateX(-105%);
	height: auto;
	min-width: 180px;
	background-color: green;
	border-radius: 5px;
	display: block;
	color: white;
}
.relative:hover .iconRed + .hover {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-60%) translateX(-105%);
	height: auto;
	min-width: 180px;
	background-color: red;
	border-radius: 5px;
	display: block;
	color: white;
}
.icon {
	color: #57aff2;
	border-radius: 50%;
	transition: 0.5s;
}
.icon:hover {
	cursor: pointer;
}
.iconBlue {
	color: #57aff2;
	border-radius: 50%;
	transition: 0.5s;
	padding: 2.5px;
}
.iconGreen {
	color: green;
	border-radius: 50%;
	transition: 0.5s;
	padding: 2.5px;
}
.iconRed {
	color: red;
	border-radius: 50%;
	transition: 0.5s;
	padding: 2.5px;
}

.relative:hover .iconGreen {
	cursor: pointer;
	color: white;
	background-color: green;
	transform: scale(1.5);
}
.relative:hover .iconRed {
	cursor: pointer;
	color: white;
	background-color: red;
	transform: scale(1.5);
}

.relative:hover .iconBlue {
	cursor: pointer;
	color: white;
	background-color: #57aff2;
	transform: scale(1.5);
}
