.boxshadow {
	background: #ffffff;
	box-shadow: 0px 0px 15px 0px #57aff212;
	border-radius: 10px;
	padding: 15px 10px;
}

.color {
	color: #57aff2 !important;
}

.colorgreen {
	color: #37a02e;
}

.emptyCard {
	background-color: white;
	margin: auto;
	width: 90%;
	padding: 25px 15px;
	border-radius: 5px;
	margin-top: 25px;
}

.card {
	padding: 10px 0;
}

.image {
	background-color: #57aff2;
	border-radius: 50%;
}

.imageGreen {
	background-color: #37a02e;
	color: white;
	border-radius: 50%;
	width: 85px;
	height: 85px;
}

.imageOrange {
	background-color: orange;
	border-radius: 50%;
}

.imageRed {
	background-color: red;
	border-radius: 50%;
	color: white;
	font-size: 5em;
}

.relative {
	position: relative;
}

.solder {
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: #57aff2;
	font-size: 1.5em;
	font-weight: 900;
	background-color: white;
	border-radius: 25px 0 25px 0;
	padding: 6.5px 10px;
	transform: translate(-0%, 0%);
}

.solder2 {
	position: absolute;
	right: 10px;
	bottom: 10px;
	color: #38b0e5;
	font-size: 1.5em;
	font-weight: 100;
	background-color: white;
	border-radius: 10px;
	padding: 5px 10px;
	transform: translate(50%, -250%);
}

.rounded {
	border-radius: 30px;
}

.bg1 {
	background-color: #FEB5B8;
}

.bg2 {
	background-color: #e498ffa1;
}

.textColor {
	color: white
}

.color3 {
	color: #7cfabb;
}

.bg3 {
	background-color: #7cfabb;
}

.color4 {
	color: #F896EF !important;
}


.bg4 {
	background-color: #F896EF;
}



.bg5 {
	background-color: #f0bb8f;
}

.bg6 {
	background-color: #57aff2;
}