.login {
	height: 600px;
}
.bglight {
	background: #ffff;
}

.input {
	margin-top: 200px;
}

.passwrapper {
	display: flex;
	margin-bottom: 14px;
}

.i {
	position: absolute;
	top: 38%;
	right: 16%;
}
.i:hover {
	color: #00fcb6;
	cursor: pointer;
}

.button {
	width: 300px;
	height: 50px;
	margin: 0 auto;
}
.relative {
	position: relative;
}
.parent {
	height: 100vh;
}

.absoluteIcon {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	padding-right: 15px;
}
.titre {
	text-align: left;
}
.forms {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: flex-start;
}
.bordergreen {
	border: solid 1px #57aff2 !important;
	background-color: transparent !important;
	border-radius: 5px;
	width: 100%;
	padding: 0 15px;
}
.borderred {
	border: solid 1px red !important;
	background-color: transparent !important;
	border-radius: 5px;
	width: 100%;
	padding: 0 15px;
}
.border {
	border: none !important;
	width: 100%;
}
.bordernone {
	border: none !important;
	width: 100%;
	margin: 15px 0;
}
.border p,
.bordernone p {
	padding-top: 10px;
}

.bordernone:focus {
	outline: none !important;
}
.bordergreen:focus {
	outline: none !important;
}
.borderred:focus {
	outline-color: red;
}
.boxshadow {
	border: 1px solid #ffffff;
	box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.25);
}
.colorgrid {
	color: #6d6e6b;
}
@media (max-width: 600px) {
	.respensiveReverse {
		display: flex;
		flex-direction: column-reverse;
		height: auto;
	}
	.respensive {
		display: flex;
		flex-direction: column;
		height: auto;
	}
	.respensiveCard1 {
		display: flex;
		justify-content: center;
		width: 100%;
	}
	.respensiveCard2 {
		display: flex;
		justify-content: flex-end;
		width: 100%;
	}
	.respensivemargin {
		margin-top: 50px;
	}
	.respensivepadding {
		padding-left: 15px;
		padding-right: 10px;
	}
}

.colorBleu {
	color: #57aff2;
	cursor: pointer;
}
