.header {
	height: 85px;
	width: 100%;
	transform: translateY(-115px);
	background-color: white;
}
.body {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
	transform: translateY(-60px);
	overflow-y: scroll;
	height: 50vh;
}
.body::-webkit-scrollbar {
	width: 3px;
}
.body::-webkit-scrollbar-thumb {
	background: linear-gradient(
		45deg,
		transparent,
		#57aff2,
		#533a90,
		transparent
	);
}
.link {
	display: flex;
	align-items: center;
	height: 90%;
}
.active {
	margin: 5% 0;
	color: white;
	background: linear-gradient(45deg, #57aff2, #533a90 95%);
	border-radius: 0 0 20px 0px;
	font-weight: bolder;
}
.ficheblue {
	padding: 10px;
	border-radius: 5px;
	width: 100%;
	max-height: 60px;
	font-size: 0.9em;
	box-shadow: 0 0 5px rgba(19, 8, 8, 0.101);
}
.ficheRed {
	padding: 10px;
	border-radius: 5px;
	width: 100%;
	max-height: 60px;
	font-size: 0.9em;
	box-shadow: 0 0 5px rgba(19, 8, 8, 0.101);
}

.iconRed {
	height: 50px !important;
	width: 50px !important;
	border-radius: 50%;
	padding: 5px;
	color: #57aff2;
}
.previewContainer {
	position: relative;
}

.preview {
	position: absolute;
	top: 0;
	height: 175px;
	width: 175px;
	transform: translate(-75%, -75%);
	background: transparent;
	border-radius: 50%;
	opacity: 0;
}
.preview:hover {
	opacity: 1;
	cursor: pointer;
}
.preview iframe,
.preview img {
	height: 100%;
	width: 100%;
}
