.rightTop {
	position: fixed;
	top: 35px;
	right: 35px;
	width: 400px;
	background: white;
	border-radius: 10px;
	z-index: 9999;
	color: red;
	font-size: 2em;
	animation: topBottom 0.35s linear;
}

@keyframes topBottom {
	from {
		transform: translatey(-100%);
	}
	to {
		transform: translatey(0%);
	}
}
